body { margin: 0; color: #666; font: normal 18px/28px Helvetica, Arial, sans-serif; background: #fff;}
.clear { clear: both;}
p { margin: 0; padding: 10px 0;}
a { color: #333; text-decoration: none;}
a:hover {text-decoration: none;color: white;cursor: pointer}
a:focus {text-decoration: none;color: white;cursor: pointer}
a:active {text-decoration: none;color: white;cursor: pointer}
a img { border: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: bold; color: #000;}
h1 { padding: 40px 0 24px; line-height: 1.4em;}
h2 { padding: 0 0 12px;}
strong { font-weight: bold;}
em { font-style: italic;}
form, menu, iframe { display: block; margin: 0; padding: 0; border: none;}
ol, ul, dl, li, dt, dd { margin: 0; padding: 0; list-style: none;}
* { outline: none;}
/*head */
.conteiner {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.wrap_header {
  width: 100%;
  height: auto;
  background: url("img/background_main.jpg")center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.hello {
  position: relative;
  width: 435px;
  height: 80px;
  padding-top: 10px;
  margin-top: 10px;
  margin-right: 50px;
  text-align: center;
  background: #bec4c6;
  border:solid 2px #92989d ;
  border-radius: 20px;
}
.hello:after{
  content: '';
  position: absolute;
  border: 13px solid transparent;
  border-left: 13px solid #92989d;
  top: 32%;
  right: -30px;
}
.head {
  display: flex;
  justify-content: flex-end;

}
.coll {
  position: relative;
  width: 560px;
  min-height: 80px;

  padding-top: 30px;
  background: #92989d;
  background: linear-gradient(to right, rgba(146,152,157,0), rgba(197,203,205,1));
  z-index: 0;
}
.callback_popup_open {
position: relative;
left: 400px;
top: -20px;
z-index: 1;
}
.phone {
width: 218px;
margin-left: 160px;
font-weight: bold;
font-size: 26px;
z-index: 1;

}
.img_avatar {
position: absolute;
display: block;
background: white;
width: 77px;
height: 77px;
border-radius: 50%;
top: 1px;
left: 51px;
z-index: 1;
}

/*first bloc header forms >>>>>>>>>>>>>>>>*/
.header_form {
  position: relative;
  margin: 0 auto;
  padding-bottom: 80px;
  padding-top: 80px;
  top: 11%;
  left: 0;
  right: 0;
  color: #fff;
  overflow: hidden;
}
.clients {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #9ba0a1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header_form h1 {
  margin-top: -30px;
  font-size: 60px;
  font-weight:800;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
.header_form p {
  margin-top: -40px;
  padding: 36px 0 60px 0;
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-align: center;

}

.btn_order:hover {
  background: #c03200;
}
.btn_order:active {
   background: #c03200;
 }
.btn_order:focus {
  background: #c03200;
}

.look_works {
  text-decoration: underline;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  padding-top: 30px;

}
/*icon*/
.icon_works {
background: #18242e;
width: 100%;
padding-bottom: 20px;
}
.icon_flex {
display: flex;
flex-flow: wrap;
align-content: center;
  justify-content: space-evenly;

}
.icon {
  width:185px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  float: left;
  display: block;
}
/*works*/
.works {
background: #d7dfe1;
padding-bottom: 89px;
}
.works h2 {
text-align: center;
font-size: 26px;
font-weight: 500;
padding-top: 60px;
padding-bottom: 40px;

}
.works_wrap {
width: 80%;
margin: 0 auto;
}
.works_img img{
width: 33%;
padding-top: 5px;
}

.works_btn {
  top: 40px;
}















.callback-wrap {
background: #ededf0;
width: 550px;
  position: relative;
}

.callback-content p {
  color: #706f79;
}

.callback-content-header p {
  font-size: 24px;
  margin-bottom: 12px;
  text-align: center;
}
.callback-content-header {
  text-align: center;
}

.callback-content-header p, span {
  color: #5e5d67;
  text-align: center;
}

.callback-content-header span {
  margin-bottom: 30px;
  font-size: 18px;
}

.callback_popup_close {
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #c52715;
  cursor: pointer;
}

.callback_popup_close:hover {
  color: #9a1e10;
}

.callback-content {
  padding: 50px 60px;
}

.callback-inputs {
  margin: 30px 65px;
  display: block;
}

.callback-inputs input {
  font-size: 24px;
  padding: 4px 10px;
  color: #333;
}

.callback-inputs #callback_time {
  width: 175px;
}

.callback-inputs #callback_phone {
  width: 100%;
  margin-bottom: 20px;
}

.callback-inputs input {
  font-size: 24px;
  width: 165px;
  padding: 4px 10px;
  color: #333;
}

.callback-inputs select {
  margin-left: 20px;
  font-size: 15px;
  padding: 9px;
  color: #333;
}

.callback-submit {
  display: block;
  margin: 0 auto;
  padding: 8px 20px;
  font-size: 15px;
  color: #fff;
  background-color: #f17424;
  outline: none;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.callback-submit:hover {
  background: #f15c01;
}

/*.callback_popup_open {*/
/*background: url("../img/call.png");*/
/*width: 85px;*/
/*height: 85px;*/
/*background-size: 100%;*/
/*margin-left: 10px;*/
/*float: left;*/
/*cursor: pointer;*/
/*}*/
#popup__toggle {
  bottom: 25px;
  right: 10px;
}

.img-circle {
  background-color: #f17424;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/*coll icon/////////////////////////////////////////////////////////////////////*/
.img-circle {
background-color: #f17424;
box-sizing: content-box;
-webkit-box-sizing: content-box;
}
.circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #f17424;
  width: 90px;
  height: 90px;
  bottom: -48px;
  left: -7px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s;
}

.img-circle {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 55px;
  height: 55px;
  bottom: -31px;
  left: 10px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .9;
}

.callback_popup_open {
  position: relative;
}
.img-circleblock {
  cursor: pointer;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 55px;
  height: 55px;
  background-image: url("img/callback_mini.png");
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.img-circle:hover {
  opacity: 1;
}



@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
}
@keyframes tossing {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
  }
  100% {
    -webkit-transform: rotate(-8deg);
  }
}
@-moz-keyframes circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1;
  }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5;
  }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1;
  }
}

@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-o-keyframes circle-anim {
  0% {
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
    -o-opacity: .1;
  }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: .5;
  }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: .1;
  }
}

@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
  }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1;
  }
}

@-moz-keyframes circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-o-keyframes circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}
.btn_order {
  display: block;
  margin: 0 auto;
  padding: 13px;
  width: 400px;
  background: #ff4200;
  border-radius: 6px;
  text-transform: uppercase;
  border: solid 1px transparent;
  -webkit-border-radius: 6px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  left: 0;
  top: 0;
}
.works_btn {
  top: 40px;
}
@media (max-width: 1100px) {

  .works_img img {
    width:49% ;
  }

}


@media (max-width: 962px) {
  .hello {
    display: none;
  }
  .coll {
    width: 81%;
  }
  .header_form h1 {
    font-size: 55px;
  }

}


@media (max-width: 650px) {

  .coll {
    width: 100%;
  }
  .header_form h1 {
    font-size: 40px;
  }
  .header_form p {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .callback-wrap {
    width: 100%;
  }
  .works_img img {
    width: 100%;
    margin: 0 auto;
  }


}
@media (max-width: 516px) {

  .img_avatar {
    width: 50px;
    height: 50px;
    top: 17px;
  }
  .phone {
    font-size: 20px;
    margin-left: 113px;
  }
  .callback_popup_open {
    left: 290px;
  }
  .btn_order {
    font-size: 13px;
    left: 0;
    padding: 6px;
    width: 333px;
  }

  .header_form p {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header_form h1 {
    font-size: 30px;

  }
  .clients {
    font-size: 16px;
  }
  .look_works {
    font-size: 13px;

  }

}
@media (max-width: 460px) {
  .callback_popup_open {
    left: 300px;
  }
  .callback-inputs {
    margin: 39px 10px;
  }
  .callback-content-header{
    text-align: center;
    margin: 30px 10px;
  }
  .callback-content {
    padding: 50px 0;
  }
  .btn_order {
    margin: 0 auto;
    left: 0;
  }
}




